In [2]:
import pandas as pd

In [3]:
act = pd.read_csv('../BigconData/train_pledge.csv')

In [4]:
act.head()

,day,acc_id,char_id,server,pledge_id,play_char_cnt,combat_char_cnt,pledge_combat_cnt,random_attacker_cnt,random_defender_cnt,same_pledge_cnt,temp_cnt,etc_cnt,combat_play_time,non_combat_play_time
0,1,106660,345122,aa,381,0.036089,0.036089,0.0,0.0,0.0,0.0,0.000000,0.007078,0.027568,0.000000
1,1,46383,161773,aa,10892,0.036089,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.006139
2,1,18495,321373,aa,13705,0.036089,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000347
3,1,118293,366707,aa,2982,0.036089,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.001042
4,1,50421,158063,aa,27104,0.216536,0.072179,0.0,0.0,0.0,0.0,0.098883,0.056626,0.083978,0.000000

In [14]:
type(list(act.columns))
cols = list(act.columns)
del cols[0:5]
cols

['play_char_cnt',
 'combat_char_cnt',
 'pledge_combat_cnt',
 'random_attacker_cnt',
 'random_defender_cnt',
 'same_pledge_cnt',
 'temp_cnt',
 'etc_cnt',
 'combat_play_time',
 'non_combat_play_time']

In [16]:
act.describe()[cols]

,play_char_cnt,combat_char_cnt,pledge_combat_cnt,random_attacker_cnt,random_defender_cnt,same_pledge_cnt,temp_cnt,etc_cnt,combat_play_time,non_combat_play_time
count,1.083384e+06,1.083384e+06,1.083384e+06,1.083384e+06,1.083384e+06,1.083384e+06,1.083384e+06,1.083384e+06,1.083384e+06,1.083384e+06
mean,1.284023e+00,4.980107e-01,2.483184e-01,2.783927e-01,2.591830e-01,2.889703e-01,6.244236e-01,5.703395e-01,1.136674e+00,3.723338e-02
std,1.403973e+00,6.507725e-01,1.090031e+00,9.603092e-01,1.133194e+00,1.174905e+00,1.075314e+00,1.234925e+00,1.326884e+00,2.447583e-01
min,3.608932e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.165359e-01,3.608932e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.683475e-02,0.000000e+00
50%,8.300543e-01,2.887146e-01,0.000000e+00,0.000000e+00,7.153134e-02,0.000000e+00,2.966491e-01,1.203305e-01,7.930951e-01,0.000000e+00
75%,1.804466e+00,6.856971e-01,3.460409e-02,0.000000e+00,2.145940e-01,0.000000e+00,8.899474e-01,5.096351e-01,1.638430e+00,0.000000e+00
max,9.094508e+00,6.171274e+00,4.156133e+01,1.245537e+02,7.339115e+01,3.421584e+01,5.389126e+01,4.847196e+01,1.259234e+01,6.676385e+00

In [17]:
act.describe().loc['mean'][cols]

play_char_cnt           1.284023
combat_char_cnt         0.498011
pledge_combat_cnt       0.248318
random_attacker_cnt     0.278393
random_defender_cnt     0.259183
same_pledge_cnt         0.288970
temp_cnt                0.624424
etc_cnt                 0.570340
combat_play_time        1.136674
non_combat_play_time    0.037233
Name: mean, dtype: float64

In [18]:
act_mean = act.describe()[1:2][cols]
act_mean

,play_char_cnt,combat_char_cnt,pledge_combat_cnt,random_attacker_cnt,random_defender_cnt,same_pledge_cnt,temp_cnt,etc_cnt,combat_play_time,non_combat_play_time
mean,1.284023,0.498011,0.248318,0.278393,0.259183,0.28897,0.624424,0.57034,1.136674,0.037233

In [19]:
act_std = act.describe()[2:3][cols]
act_std

,play_char_cnt,combat_char_cnt,pledge_combat_cnt,random_attacker_cnt,random_defender_cnt,same_pledge_cnt,temp_cnt,etc_cnt,combat_play_time,non_combat_play_time
std,1.403973,0.650772,1.090031,0.960309,1.133194,1.174905,1.075314,1.234925,1.326884,0.244758

In [20]:
act_std_mul = act_std*2
upper = act_mean.iloc[0].add(act_std_mul.iloc[0]) #Upper limit
upper

play_char_cnt           4.091969
combat_char_cnt         1.799556
pledge_combat_cnt       2.428381
random_attacker_cnt     2.199011
random_defender_cnt     2.525570
same_pledge_cnt         2.638780
temp_cnt                2.775051
etc_cnt                 3.040190
combat_play_time        3.790441
non_combat_play_time    0.526750
dtype: float64

In [21]:
lower= act_mean.iloc[0].sub(act_std_mul.iloc[0]) #Lower limit
lower

play_char_cnt          -1.523922
combat_char_cnt        -0.803534
pledge_combat_cnt      -1.931744
random_attacker_cnt    -1.642226
random_defender_cnt    -2.007204
same_pledge_cnt        -2.060840
temp_cnt               -1.526204
etc_cnt                -1.899511
combat_play_time       -1.517094
non_combat_play_time   -0.452283
dtype: float64

In [22]:
scope = pd.DataFrame({'upperLimit':upper,'lowerLimit':lower}).T
scope

,play_char_cnt,combat_char_cnt,pledge_combat_cnt,random_attacker_cnt,random_defender_cnt,same_pledge_cnt,temp_cnt,etc_cnt,combat_play_time,non_combat_play_time
upperLimit,4.091969,1.799556,2.428381,2.199011,2.525570,2.63878,2.775051,3.040190,3.790441,0.526750
lowerLimit,-1.523922,-0.803534,-1.931744,-1.642226,-2.007204,-2.06084,-1.526204,-1.899511,-1.517094,-0.452283

In [12]:
# 테스트 데이터가 유효범위에 70% 이상 포함되는지 확인하자

In [23]:
test_act_raw = pd.read_csv('../BigconData/test1_pledge.csv')
test_act = test_act_raw

In [23]:
test_act[(test_act['playtime']<=scope.iloc[0]['playtime']) & (test_act['playtime']>=scope.iloc[1][ 'playtime'])]['playtime'].count()

709928

In [22]:
test_act['playtime'].count()

709928

In [19]:
# test1의 전체 row 수는 709928
#709928 모두가 범위에 포함되므로 낙찰!

In [24]:
cols = ['playtime','npc_kill','solo_exp','party_exp','quest_exp','rich_monster','death','revive','exp_recovery','fishing','private_shop','game_money_change','enchant_count']
for col in cols:
    print(col)
    print(test_act[(test_act[col]<=scope.iloc[0][col]) & (test_act[col]>=scope.iloc[1][col])][col].count()/test_act[col].count())

playtime
1.0
npc_kill
0.9595325159734508
solo_exp
0.9972236621178485
party_exp
0.9985181595880146
quest_exp
0.9925034651401269
rich_monster
0.9197439740368037
death
0.9925936151271678
revive
0.9932486111267621
exp_recovery
0.9965334512795664
fishing
0.9446464993633157
private_shop
0.9355258561431582
game_money_change
0.9796331458964853
enchant_count
0.9997196898840446

In [25]:
# activity 끝
# 아니.. test2 activitu도 해야한다

In [24]:
test_act_raw = pd.read_csv('../BigconData/test1_pledge.csv')
test_act = test_act_raw

In [25]:
for col in cols:
    print(col)
    print(test_act[(test_act[col]<=scope.iloc[0][col]) & (test_act[col]>=scope.iloc[1][col])][col].count()/test_act[col].count())

play_char_cnt
0.9975256727756603
combat_char_cnt
0.9885828714806609
pledge_combat_cnt
0.9817686873672332
random_attacker_cnt
0.9682903442532772
random_defender_cnt
0.9846148159583235
same_pledge_cnt
0.9896113045009708
temp_cnt
0.9897287154588921
etc_cnt
0.991183306770916
combat_play_time
0.96584210835292
non_combat_play_time
0.9311362989022075

In [26]:
# test 1 pledge 이상무

In [27]:
test_act_raw = pd.read_csv('../BigconData/test2_pledge.csv')
test_act = test_act_raw

In [28]:
for col in cols:
    print(col)
    print(test_act[(test_act[col]<=scope.iloc[0][col]) & (test_act[col]>=scope.iloc[1][col])][col].count()/test_act[col].count())

play_char_cnt
0.9805182389072339
combat_char_cnt
0.9851158314015568
pledge_combat_cnt
0.9808684293635772
random_attacker_cnt
0.9594036879566709
random_defender_cnt
0.9894298340784727
same_pledge_cnt
0.989307374839138
temp_cnt
0.977772573856886
etc_cnt
0.991937025873274
combat_play_time
0.9839664332779761
non_combat_play_time
0.9484639959094318

#test2 pledge 이상무