In [1]:
import pandas as pd
import numpy as np

In [4]:
pay_raw = pd.read_csv('../BigContest/train_payment.csv')

In [5]:
pay = pay_raw

In [6]:
pay.dtypes

day               int64
acc_id            int64
amount_spent    float64
dtype: object

In [7]:
pay.head()
pay.count()

day             66432
acc_id          66432
amount_spent    66432
dtype: int64

In [8]:
pay.acc_id.duplicated().sum()

42706

In [9]:
66432-42706

23726

In [10]:
grp_sum_pay= pay.groupby('acc_id',as_index=False).sum().drop(columns = 'day')
grp_sum_pay.count()

acc_id          23726
amount_spent    23726
dtype: int64

In [11]:
paid = grp_sum_pay[grp_sum_pay['amount_spent']>0]
paid

       acc_id  amount_spent
0           8      1.404644
1          20      0.896531
2          21      2.695461
3          38      6.309749
4          41      0.035204
...       ...           ...
23721  130447      3.215308
23722  130449      0.348521
23723  130469      0.360255
23724  130470      1.392909
23725  130473      2.955971

[23726 rows x 2 columns]

In [12]:
unPaid = grp_sum_pay[grp_sum_pay['amount_spent']==0]
unPaid

Empty DataFrame
Columns: [acc_id, amount_spent]
Index: []

In [19]:
label = pd.read_csv('../BigContest/train_label.csv')

In [14]:
# label=label.drop(columns='amount_spent')

In [15]:
test = label.merge(paid,how='outer',on='acc_id')

In [75]:

test[test['amount_spent'].isnull()==True].count()

# pay_unpay = test[test['amount_spent'].isnull()==True]

In [36]:
test[['amount_spent']].isnull().sum()

amount_spent    16274
dtype: int64

In [37]:
label[label['amount_spent']==0].count()
# label_unpay= label[label['amount_spent']==0]

acc_id           16438
survival_time    16438
amount_spent     16438
dtype: int64

In [42]:
16438-16274

164

In [45]:
label_unpay

       acc_id  survival_time  amount_spent
7        7678              5           0.0
9      116489             23           0.0
10      80681             23           0.0
14      54944              6           0.0
16      84274             64           0.0
...       ...            ...           ...
39974   63780             64           0.0
39977    2036              1           0.0
39986   31529             15           0.0
39987   53989             51           0.0
39998   99716             39           0.0

[16438 rows x 3 columns]

In [76]:
pay_unpay

       acc_id  survival_time  amount_spent
11      91444             64           NaN
17      82976             33           NaN
27      89354              1           NaN
29      86978             52           NaN
34      71096             64           NaN
...       ...            ...           ...
39985   14925              1           NaN
39987   53989             51           NaN
39992   64094             64           NaN
39996   83195             64           NaN
39998   99716             39           NaN

[16274 rows x 3 columns]

In [77]:
pay_unpay = pay_unpay.fillna(1)

In [78]:
pay_unpay

       acc_id  survival_time  amount_spent
11      91444             64           1.0
17      82976             33           1.0
27      89354              1           1.0
29      86978             52           1.0
34      71096             64           1.0
...       ...            ...           ...
39985   14925              1           1.0
39987   53989             51           1.0
39992   64094             64           1.0
39996   83195             64           1.0
39998   99716             39           1.0

[16274 rows x 3 columns]

In [80]:
test_2= label_unpay.merge(pay_unpay,how='outer',on = 'acc_id')

In [86]:
3826-3662

164

In [73]:
label_unpay.acc_id.duplicated().sum()

0

In [74]:
pay_unpay.acc_id.duplicated().sum()

0

In [85]:
test_2.isnull().sum()

acc_id                0
survival_time_x    3662
amount_spent_x     3662
survival_time_y    3826
amount_spent_y     3826
dtype: int64

In [79]:
label_unpay[(label_unpay['amount_spent']==0)&(pay_unpay[pay_unpay['amount_spent']==1])]

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]

In [63]:
label_unpay.equals(pay_unpay)

False