In [71]:
import pandas as pd
import numpy as np

In [2]:
pay_raw = pd.read_csv('../BigContest/train_payment.csv')

In [3]:
pay = pay_raw

In [4]:
pay.dtypes

day               int64
acc_id            int64
amount_spent    float64
dtype: object

In [21]:
pay.head()
pay.count()

day             66432
acc_id          66432
amount_spent    66432
dtype: int64

In [9]:
pay.acc_id.duplicated().sum()

42706

In [22]:
66432-42706

23726

In [23]:
grp_sum_pay= pay.groupby('acc_id',as_index=False).sum().drop(columns = 'day')
grp_sum_pay.count()

acc_id          23726
amount_spent    23726
dtype: int64

In [18]:
paid = grp_sum_pay[grp_sum_pay['amount_spent']>0]
paid

       acc_id  amount_spent
0           8      1.404644
1          20      0.896531
2          21      2.695461
3          38      6.309749
4          41      0.035204
5          43      3.696431
6          53      0.501072
7          62      4.291380
8          63      1.760205
9          66      0.360255
10         67      4.939136
11         69      0.348521
12         76      0.826123
13         77      0.826123
14         81      1.882246
15         91      5.062350
16         98      4.995462
17        100      0.243964
18        113      0.559745
19        129      1.882246
20        133      1.980818
21        138      4.727911
22        145      0.528062
23        149      5.839187
24        154      2.311736
25        158      0.348521
26        160      4.631687
27        161      0.360255
28        163      0.011735
29        173      6.512759
...       ...           ...
23696  130328      1.323557
23697  130336      0.876582
23698  130342      0.105612
23699  130345      6.393065
23700  130354      1.653419
23701  130356      0.454133
23702  130360      0.281633
23703  130363      1.045562
23704  130370      1.753164
23705  130376      5.346213
23706  130380      5.221942
23707  130381      0.348521
23708  130386      0.468215
23709  130390      5.145667
23710  130391      1.580664
23711  130392      2.698981
23712  130398      0.140816
23713  130401      2.061787
23714  130405      0.293368
23715  130411      6.403627
23716  130414      1.103062
23717  130415      1.925665
23718  130420      0.011735
23719  130433      0.011735
23720  130434      5.613881
23721  130447      3.215308
23722  130449      0.348521
23723  130469      0.360255
23724  130470      1.392909
23725  130473      2.955971

[23726 rows x 2 columns]

In [19]:
unPaid = grp_sum_pay[grp_sum_pay['amount_spent']==0]
unPaid

Empty DataFrame
Columns: [acc_id, amount_spent]
Index: []

In [20]:
label = pd.read_csv('../BigContest/train_label.csv')

In [36]:
label=label.drop(columns='amount_spent')

In [37]:
test = label.merge(paid,how='outer',on='acc_id')

In [81]:

test[test['amount_spent'].isnull()==True].count()

acc_id           16274
survival_time    16274
amount_spent         0
dtype: int64

In [77]:
test[['amount_spent']].isnull().sum()

amount_spent    16274
dtype: int64

In [82]:
label[label['amount_spent']==0].count()

KeyError: 'amount_spent'