In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split #scikit-
from sklearn.ensemble import RandomForestClassifier

------------------------------------------------------------------------------

## combat

In [2]:
cbt_raw = pd.read_csv('../BigContest/test1_combat.csv')

In [3]:
cbt = cbt_raw

In [4]:
cbt = cbt.drop(columns = ['day','server'])

In [5]:
cbt.head()

,acc_id,char_id,class,level,pledge_cnt,random_attacker_cnt,random_defender_cnt,temp_cnt,same_pledge_cnt,etc_cnt,num_opponent
0,58743,133491,3,16,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
1,58743,354243,1,5,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
2,110631,181339,2,17,0.320921,6.548676,0.0,0.0,0.0,0.0,2.060704
3,87697,253151,1,3,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
4,87697,295097,1,1,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000

In [6]:
cbt= cbt.groupby('acc_id').sum()

In [7]:
# cbt_2.sort_values('acc_id')

In [8]:
cbt.head()

,char_id,class,level,pledge_cnt,random_attacker_cnt,random_defender_cnt,temp_cnt,same_pledge_cnt,etc_cnt,num_opponent
acc_id,,,,,,,,,,
7,1113796,27,112,0.0,0.000000,0.000000,1.918911,0.0,0.000000,0.294386
15,16343335,273,1121,0.0,0.000000,39.041128,0.000000,0.0,2.027007,2.256961
16,2403404,3,62,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
18,2019394,13,0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
19,3352520,111,663,0.0,3.131975,9.464516,1.918911,0.0,2.815288,4.219536

In [9]:
cbt = cbt.drop(columns='char_id')

In [10]:
cbt.shape

(20000, 9)

In [11]:
# mrg = label.merge(cbt,on='acc_id')

----------------------------------------------------------------------------------

## Activity

In [12]:
act_raw = pd.read_csv('../BigContest/test1_activity.csv')
act = act_raw

In [13]:
act = act.drop(columns = ['day','server'])

In [14]:
act = act.groupby('acc_id').sum()

In [15]:
act = act.drop(columns='char_id')

In [16]:
mrg = cbt.merge(act,on='acc_id')

In [17]:
mrg.shape

(20000, 22)

-------------------------------------------------------------------------------------

## payment

In [18]:
pmt_raw = pd.read_csv('../BigContest/test1_payment.csv')
pmt = pmt_raw

In [19]:
pmt = pmt.drop(columns = ['day'])

In [20]:
pmt = pmt.groupby('acc_id').sum()

In [21]:
pmt = pmt.rename(columns={"amount_spent":"amount_spent_pmt"})

In [22]:
mrg = mrg.merge(pmt,how='left',on='acc_id')

In [23]:
mrg.shape

(20000, 23)

In [24]:
mrg.isnull().sum()

class                      0
level                      0
pledge_cnt                 0
random_attacker_cnt        0
random_defender_cnt        0
temp_cnt                   0
same_pledge_cnt            0
etc_cnt                    0
num_opponent               0
playtime                   0
npc_kill                   0
solo_exp                   0
party_exp                  0
quest_exp                  0
boss_monster               0
death                      0
revive                     0
exp_recovery               0
fishing                    0
private_shop               0
game_money_change          0
enchant_count              0
amount_spent_pmt       10546
dtype: int64

----------------------------------------------------------------------------------

## pledge

In [25]:
plg_raw = pd.read_csv('../BigContest/test1_pledge.csv')
plg = plg_raw

In [26]:
plg = plg.drop(columns = ['day','server'])

In [27]:
plg = plg.groupby('acc_id').sum()

In [28]:
plg = plg.drop(columns=['char_id','pledge_id'])

In [29]:
plg = plg.rename(columns={"random_attacker_cnt": "random_attacker_cnt_plg", "random_defender_cnt": "random_defender_cnt_plg","temp_cnt":"temp_cnt_plg","same_pledge_cnt":"same_pledge_cnt_plg","etc_cnt":"etc_cnt_plg"})

In [30]:
mrg = mrg.merge(plg,how='left',on='acc_id')

In [31]:
mrg.shape

(20000, 33)

In [32]:
mrg.isnull().sum()

class                          0
level                          0
pledge_cnt                     0
random_attacker_cnt            0
random_defender_cnt            0
temp_cnt                       0
same_pledge_cnt                0
etc_cnt                        0
num_opponent                   0
playtime                       0
npc_kill                       0
solo_exp                       0
party_exp                      0
quest_exp                      0
boss_monster                   0
death                          0
revive                         0
exp_recovery                   0
fishing                        0
private_shop                   0
game_money_change              0
enchant_count                  0
amount_spent_pmt           10546
play_char_cnt               3694
combat_char_cnt             3694
pledge_combat_cnt           3694
random_attacker_cnt_plg     3694
random_defender_cnt_plg     3694
same_pledge_cnt_plg         3694
temp_cnt_plg                3694
etc_cnt_plg                 3694
combat_play_time            3694
non_combat_play_time        3694
dtype: int64

-----------------------------------------------------------------------------------

In [33]:
mrg= mrg.fillna(0)

In [34]:
mrg.isnull().sum()

class                      0
level                      0
pledge_cnt                 0
random_attacker_cnt        0
random_defender_cnt        0
temp_cnt                   0
same_pledge_cnt            0
etc_cnt                    0
num_opponent               0
playtime                   0
npc_kill                   0
solo_exp                   0
party_exp                  0
quest_exp                  0
boss_monster               0
death                      0
revive                     0
exp_recovery               0
fishing                    0
private_shop               0
game_money_change          0
enchant_count              0
amount_spent_pmt           0
play_char_cnt              0
combat_char_cnt            0
pledge_combat_cnt          0
random_attacker_cnt_plg    0
random_defender_cnt_plg    0
same_pledge_cnt_plg        0
temp_cnt_plg               0
etc_cnt_plg                0
combat_play_time           0
non_combat_play_time       0
dtype: int64

In [35]:
mrg.shape

(20000, 33)

In [36]:
X=mrg

In [37]:
mrg.head()

,class,level,pledge_cnt,random_attacker_cnt,random_defender_cnt,temp_cnt,same_pledge_cnt,etc_cnt,num_opponent,playtime,...,play_char_cnt,combat_char_cnt,pledge_combat_cnt,random_attacker_cnt_plg,random_defender_cnt_plg,same_pledge_cnt_plg,temp_cnt_plg,etc_cnt_plg,combat_play_time,non_combat_play_time
acc_id,,,,,,,,,,,,,,,,,,,,,
7,27,112,0.0,0.000000,0.000000,1.918911,0.0,0.000000,0.294386,1.268015,...,19.560411,7.614846,0.506312,19.527071,4.721068,0.000000,12.558147,4.098316,12.579598,0.000000
15,273,1121,0.0,0.000000,39.041128,0.000000,0.0,2.027007,2.256961,86.784346,...,99.317807,15.410139,0.000000,0.000000,48.355185,0.000000,4.054205,1.797879,107.054983,16.478587
16,3,62,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.082954,...,1.190948,0.036089,0.000000,0.000000,0.000000,0.000000,0.000000,0.007078,0.074364,0.056062
18,13,0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,40.512476,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,111,663,0.0,3.131975,9.464516,1.918911,0.0,2.815288,4.219536,85.198735,...,17.034159,2.526252,0.000000,0.710075,1.430627,1.591434,5.339685,0.481322,10.912210,2.733728

In [38]:
mrg.to_csv('./Allmerge_test_notinlabel.csv')

In [39]:
mrg = mrg.merge(label,on='acc_id')

NameError: name 'label' is not defined

In [ ]:
# mrg.to_csv('./Allmerge.csv')

In [ ]:
mrg.shape

In [ ]:
y = (mrg['survived'] == 1)

In [ ]:
feature_names = [i for i in mrg if (i!='acc_id') & (i!='survival_time')& (i!='survived')]

In [ ]:
X = mrg[feature_names]
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)
my_model = RandomForestClassifier(random_state=0).fit(train_X, train_y)

In [ ]:
row_to_show = 5
data_for_prediction = val_X.iloc[row_to_show]  
# use 1 row of data here. Could use multiple rows if desired
data_for_prediction_array = data_for_prediction.values.reshape(1, -1)


my_model.predict_proba(data_for_prediction_array)

In [ ]:
# conda install -c conda-forge shap 
import shap  # package used to calculate Shap values

# Create object that can calculate shap values
explainer = shap.TreeExplainer(my_model)

# Calculate Shap values
shap_values = explainer.shap_values(data_for_prediction)

In [ ]:
shap.initjs()
shap.force_plot(explainer.expected_value[1], shap_values[1], data_for_prediction)

In [ ]:
data_for_prediction.sort_values()

In [ ]:
# # use Kernel SHAP to explain test set predictions
# k_explainer = shap.KernelExplainer(my_model.predict_proba, train_X)
# k_shap_values = k_explainer.shap_values(data_for_prediction)
# shap.force_plot(k_explainer.expected_value[1], k_shap_values[1], data_for_prediction)

In [ ]:
# pledge, payment 제외
shap.initjs()
shap.force_plot(explainer.expected_value[1], shap_values[1], data_for_prediction)

In [ ]:

pd.set_option('display.max_columns', None)
display(mrg.corr())

In [ ]:
corr = mrg.corr()

In [ ]:
# corr[corr[]]

corr[(corr>0.3)&(corr<1.0)|(corr<-0.3)&(corr>=-1.0)].index

In [ ]:
corr2 = corr[(corr>0.3)&(corr<=1.0)|(corr<-0.3)&(corr>=-1.0)]

In [ ]:
corr2.to_csv('./corrMrg3.csv')

In [ ]:
corr2